# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Databases
*.db
*.sqlite3

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/